@tailwind base;
@tailwind components;
@tailwind utilities;

.gif {
  background-image: url("/homepagegif.gif");
  background-size: cover;
  background-position: top;
}

.active {
  color: #48bf91
}

.slick-prev, .slick-next {
  color: #48bf91 !important; /* Match the theme */
}
